h3 Тема '#{@theme.name}'.
p= @theme.content

= button_to "Изучено", pass_theme_course_theme_path(@theme.course.id, @theme.id), class: "btn btn-success"
= link_to "Отмена", course_themes_path(@theme.course.id), class: "btn btn-default"
